<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index1.html">
        <div class="sidebar-brand-icon ">
          <img src="../assets/img/logo1.png" width="80" height="80">
        </div>
        <div class="sidebar-brand-text mx-3">
          Stubble Buddy</div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">
      <!-- Nav Item - Tables -->
      <li class="nav-item active">
        <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/farmer-list" routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Farmer's List</span></a>
      </li>

      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/company-list" routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Industry Partner's List</span></a>
      </li>

      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/data-visual" routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Data Analysis</span></a>
      </li>

      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/past-farmer-requests" routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Past Farmer Requests</span></a>
      </li>

      <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/past-company-requests" routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Past Company Requests</span></a>
      </li>

      <!-- <hr class="sidebar-divider my-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/amount-transfer" routerLinkActive="active">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Amount Transfer</span></a>
      </li> -->
    </ul>

    <router-outlet></router-outlet>


  </div>
</body>