<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
          <h1 style="font-size: xx-large; padding-left: 450px"><b>Dashboard</b></h1>
        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">

          <!-- Content Row -->
          <div class="row">

            <!--  Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body" (click)="SelectEvent(1)">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Active Orders-Farmers</div>
                    </div>
                    <div class="col-auto">
                      <img src="../../assets/img/1.png" width=" 100" height="110 ">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--  Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body" (click)="SelectEvent(2)">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Farmer Requests Under Process</div>
                    </div>
                    <div class="col-auto">
                      <img src="../../assets/img/1.png" width=" 100" height="110 ">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--  Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body" (click)="SelectEvent(3)">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Active Orders-Industry</div>
                    </div>
                    <div class="col-auto">
                      <img src="../../assets/img/2.png" width=" 100" height="110 ">
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--  Card  -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body" (click)="SelectEvent(4)">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="h5 mb-0 font-weight-bold text-gray-800">Distributed Farmer Requests In Process</div>
                      <div class="row no-gutters align-items-center">
                        <div class="col">

                        </div>
                      </div>
                    </div>
                    <div class="col-auto">
                      <img src="../../assets/img/3.jpg" width=" 90" height="110">
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <app-tables [number]="pNumber"></app-tables>

        </div>


      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; StubbleBuddy 2020</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>

</body>